<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id = "container">
        <h1>List of Entries</h1>
        <nav>
            <a href="index.html" class="btn">Home</a>
            <a href="form.html" class="btn">Add to List</a>
            <a href="#" class="btn">Entries</a>
        </nav>
        <br>
        <h2>Login:</h2>
        <form>
            <label for="atlist">Username:</label><br>
            <input type="text" name="atlist" id="atlist"><br>
            <label for="atlist">Password:</label><br>
            <input type="text" name="atlist" id="atlist"><br><br>
            <input type="submit" value="submit">
        </form>
        <br>
    </div>
</body>
</html>