<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id = "container">
        <h1>My Top 10 Best Marvel Movies</h1>
        <nav>
            <a href="#" class="btn">Home</a>
            <a href="form.html" class="btn">Add to List</a>
            <a href="entries.html" class="btn">Entries</a>
        </nav>
        <br>
        <div id="marvelList">
            <ol>
                <li>Guardians of the Galaxy</li>
                <li>Avengers: Endgame</li>
                <li>Thor: Ragnarok</li>
                <li>Avengers: Infinity War</li>
                <li>Spider-man: Far From Home</li>
                <li>Guardians of the Galaxy Vol. 2</li>
                <li>Doctor Strange</li>
                <li>Avengers: Age of Ultron</li>
                <li>Black Panther</li>
                <li>Ant-Man</li>
            </ol>
        </div>
        <div id="marvelParagraph">
            <p>
                I decided to pick the topic of Marvel movies because I am really facinated by them. The whole Marvel Cinematic Universe is a very interesting topic and I can easily talk about it for hours on end. The order of this list was hard for me to decide on because there are just so many good movies that came out. I'm also very excited to see where this universe will lead to, seeing as how Phase Three has ended and new movies for the new phase are coming pretty soon.
            </p>
        </div>
        <img src="images/marvelMeme.jpg" alt="Marvel Meme" id="marvelMeme">
    </div>
</body>
</html>