<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example Using Express</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the Express Static Website Example</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        <img src="/images/grapefruit.jpg" alt="grapefruit" width=400>
        <div style="width:400px;">
            <p>Adipisicing enim fugiat minim eu proident elit incididunt incididunt deserunt amet nostrud ad Lorem
                ipsum. Ipsum sint esse consectetur enim consectetur nisi minim nisi qui incididunt incididunt eiusmod
                voluptate. Excepteur ipsum consequat amet nisi. Anim ea dolor aute irure. Culpa commodo sint in dolor
                reprehenderit occaecat exercitation exercitation est. Id do laborum nostrud ex.</p>
        </div>
    </div>
</body>

</html>