body{
    background-color: rgb(45, 108, 128);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#container{
    width: 980px;
    margin: 0 auto 0 auto;
    text-align: center;
    min-height: 830px;
    padding: 0;
    background-color:white;
    border:1px solid black;
}

nav{
    height:40px;
    background-color: rgb(134, 219, 196);
    font-size: 18px;
}

.btn{
    display: inline-block;
    padding: 10px;
    text-decoration: underline;
    color: black;
    size: 25px;
    margin-top: -2px;
}

#marvelList{
    float:left;
    margin-left: 120px;
    text-align: left;
}

#marvelParagraph{
    float:right;
    text-align: left;
    margin-right: 60px;
    width:400px;
}

#marvelMeme{
    float:left;
    width:450px;
    margin-top: 15px;
    margin-left: -120px;
}